/* 
    Document   : dashboard
    Created on : Sep 30, 2012, 2:06:43 PM
    Author     : exzile
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background: #022558; 
}

#dashboard_contents {
    margin-right:auto;
    margin-left: auto;
    width:1000px;
    height:600px;
    
    background: #022558; /* Old browsers */
    background: -moz-linear-gradient(top, #022558 0%, #022558 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#022558), color-stop(100%,#022558)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #022558 0%,#022558 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #022558 0%,#022558 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #022558 0%,#022558 100%); /* IE10+ */
    background: linear-gradient(to bottom, #022558 0%,#022558 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022558', endColorstr='#022558',GradientType=0 ); /* IE6-9 */
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color:white;
}

#dashboard_contents h1 {
    margin: 0;
}

#dashboard_contents a {
    color:white;
    text-decoration: none;
}

#dashboard_contents #createBoard {
    border: 2px solid white;
    height:100px;
    width: 100px;
    color:white;
    margin-left:30px;
    margin-top:60px;
    cursor:pointer;
    margin-right:30px;
    float:left;
}

#dashboard_contents #createBoard p {
    font-size:50px;
    margin: 0px;
    padding-top:15px;
    padding-bottom:35px;
    text-align: center;
    position:relative;
}

#dashboard_contents #createBoard p#add {
    font-size:20px;
    padding:0px;
    position:relative;
}



