.panel
{}

/*real square node is the only one that can be dragged*/
#leftPanel img.squareReal { 
    z-index: 1; 
}

/*Node*/
.node {
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:5em; height:5em;
    line-height:5em;
    text-align:center;
    z-index:20; position:absolute;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;padding:0.5em;
    font-size:0.9em;
}
.node:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.node p {
    padding-left:40px;
    padding-top:10px;
    height: 50px;
    margin: 0px;
}

/*jsPlumb*/
._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21; cursor:pointer; }
/*Canvas*/
#canvas {
    height: 1000px;
}

/*Selection*/
#canvas .ui-selecting { background: #FECA40; }

#canvas .ui-selected {
    background: #F39814;
}

/*Do not highlight the p elements of nodes when selecting and selected*/
.node.ui-selecting p {
    background: none !important;
}

.node.ui-selected p {
    background: none !important;
}

.ui-selectable-helper {
    position: absolute; 
    z-index: 100; 
    border:1px dotted black; 
}

/*Log*/
#loggingPanel{
    background: #022558; /* Old browsers */
    background: -moz-linear-gradient(top, #022558 0%, #022558 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#022558), color-stop(100%,#022558)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #022558 0%,#022558 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #022558 0%,#022558 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #022558 0%,#022558 100%); /* IE10+ */
    background: linear-gradient(to bottom, #022558 0%,#022558 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022558', endColorstr='#022558',GradientType=0 ); /* IE6-9 */
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color:white;

    width: 250px; 
    top: 380px; 
    left: 50px; 
    position: absolute; 
    padding: 10px;
}

#loggingPanel p {
    margin: 5px;
    font-size: 18px;
}

/* Show/Hide */
#showHide
{
    margin: 5px;
    font-size: 16px;
    float: right;
    top: 0px;
    right: 0px;
}
#showHide a:hover, a:link
{
    color: white;
    font-size: 16px;
}

/*Modal*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/*Top Menu*/
#topMenu{
    background: #022558; /* Old browsers */
    background: -moz-linear-gradient(top, #022558 0%, #022558 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#022558), color-stop(100%,#022558)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #022558 0%,#022558 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #022558 0%,#022558 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #022558 0%,#022558 100%); /* IE10+ */
    background: linear-gradient(to bottom, #022558 0%,#022558 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022558', endColorstr='#022558',GradientType=0 ); /* IE6-9 */
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color:white;

    width: 250px; 
    top: 350px; 
    left: 50px; 
    position: absolute; 
    padding: 10px;
}

#topMenu p{
    margin:0px;
}

/*jQuery Modal*/
.ui-widget-header {
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

/*Node Meta*/
#radio_group {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    color:black;
    margin:0px;
    float:right;
}

#radio_group span {
    padding-left:5px;
}

/*Meta Form*/
#metaData li#break1 {
    display:none;
}

/*Collapsible panels*/
.collapse.main {
    display: none;
}

.collapse textarea#script {
    width:700px;
}

.collapse #script-triangle {
    float:left;
}

.collapse #script-name {
}

/* Element Panel */
#elementPanel
{
    background: #022558; /* Old browsers */
    background: -moz-linear-gradient(top, #022558 0%, #022558 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#022558), color-stop(100%,#022558)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #022558 0%,#022558 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #022558 0%,#022558 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #022558 0%,#022558 100%); /* IE10+ */
    background: linear-gradient(to bottom, #022558 0%,#022558 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022558', endColorstr='#022558',GradientType=0 ); /* IE6-9 */
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color:white;
    
    width: 200px;
    left: 50px;
    top: 120px;
    
    position: absolute;
    
    padding: 10px;
}
#elementPanel_b
{
    padding: 5px;
}

/*
    Path Panel CSS
*/

#debug
{
    background: #022558; /* Old browsers */
    background: -moz-linear-gradient(top, #022558 0%, #022558 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#022558), color-stop(100%,#022558)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #022558 0%,#022558 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #022558 0%,#022558 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #022558 0%,#022558 100%); /* IE10+ */
    background: linear-gradient(to bottom, #022558 0%,#022558 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022558', endColorstr='#022558',GradientType=0 ); /* IE6-9 */
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color:white;

    width: 250px; 
    top: 20px; 
    left: 1150px; 
    position: absolute; 
    padding: 10px;
}
#debug_b
{
    padding-top: 10px;
    font-size: 15px;
}
#debug_Update
{
    margin: 5px;
    font-size: 16px;
    float: right;
    top: 0px;
}
#debug_Update a:hover, a:link
{
    color: white;
    font-size: 16px;
}
#debug_b .ui-selecting
{
    background: #aaa;
}
#debug_b .ui-selected
{
    background: #346789;
}
#debug_b .pathlisthandle
{
    background: #f8f8f8; 
    float: left;
    left: 0; top: 0; bottom: 0;
    padding: 3px;
}

